/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:0 none;}




/* Begin Styles ==== */
body {
	background: #222 url(bg.png);
}

html {

}

/*#wrapper {
	width: 758px;
	margin: 0 auto;
	background: url(inner.png);
	border: 20px solid #382201;
	border-image: url(wood.png) 25% repeat;
	border-top: 0;
	border-bottom: 0;
}*/