/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:0 none;}


/* Begin Styles ==== */
body {
	background: #222 url('./bg.png');
	font-family: sans-serif;
}

#wrapper a {
	background: #000;
	display: block;
	width: 250px;
	height: auto;
	position: relative;
	text-decoration: none;
	color: white;
	border: 5px;
	margin: 20px;
	box-shadow: 0px 0px 15px rgba(0,0,0,.7);
	float: left;
	font-weight: bold;
	font-size: 14px;
}

#wrapper a div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: orange;
	text-align: center;
	padding: 20px;
	opacity: .8;
	padding-top: 50px;
	-webkit-transition: .5s all ease;
}

#wrapper a:nth-child(4n-1) div{ background: red; }
#wrapper a:nth-child(4n-2) div{ background: green; }
#wrapper a:nth-child(4n-3) div{ background: purple; }
#wrapper a:nth-child(4n-4) div{ background: orange; }

#wrapper a:hover div { opacity: 0 }

#wrapper a img { width: 100%; }